<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<!-- HEADLESS : 是否使用無頭瀏覽器 (開啟網頁是否要開啟瀏覽器) -->
		<add key="HEADLESS" value="true" />
		<!-- INPUT_URL_FROM_CONSOLE : 目標 URL 是否手動輸入，若值為 false，則以 TARGET_URL 的值開啟網頁 -->
		<add key="INPUT_URL_FROM_CONSOLE" value="false" />
		<add key="TARGET_URL" value="https://www.google.com/" />
		<!-- USE_CHROME_IN_OS : 是否使用系統內的 Chrome 去開啟網頁，若值為 false，則會從網路抓取 Chromium -->		
		<add key="USE_CHROME_IN_OS" value="true" />
		<!-- CHROME_PATH : 系統內的 Chrome 路徑，若 USE_CHROME_IN_OS 值為 false 則不需設定 -->
		<add key="CHROME_PATH" value="C:\Program Files\Google\Chrome\Application\chrome.exe" />
		<!-- WAIT_FOR_TIMEOUT : 需要等待網頁特定元素生成的時間 -->
		<add key="WAIT_FOR_TIMEOUT" value="0" />
		<!-- PDF_FILE_DIR : PDF 檔所在的目錄 -->
		<add key="PDF_FILE_DIR" value="./output" />
		<!-- PDF_FILE_NAME : PDF 檔的名稱 -->
		<add key="PDF_FILE_NAME" value="output.pdf" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
